/* ----------------------------- title ----------------------------- */

.title{
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.title-img{
    width: 150px;
    height: auto;
}

p{
    text-align: center;
    font-size: 50px;
    color: white;
}



/* ----------------------------- button ----------------------------- */
.category{
    display: flex;
    justify-content: space-evenly;
}

button{
    display: block;
    margin-top: 100px;
    padding:20px 40px 20px 40px;
    font-size: 30px;
    background-color: white;
    border: black;
    border-radius: 10px;
    width: 300px;
}


/* ----------------------------- responsive ----------------------------- */
@media screen and (max-width: 750px) {
    .title-img{
        display: none;
    }

    .category{
        display: block;
    }

    button{
        margin: 30px auto;
    }
}